*{
  margin:0;
  padding:0;
}

.who-container {
  width: 100%;
  height: auto;
}

.whoText{
  width:40%;
}

.title-who {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-kiosko {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  margin-top: 10px;
}

h3 {

  margin-top: 30px;
  margin-bottom: 20px;
}

.center-img {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
