footer{
    margin-left:0px;
    padding:0;
    /* position:fixed; */
    height: auto;
    width: 100%;
  
    background-color: red;
    /* bottom:0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px; */
}

body{
   margin:0;
   padding:0;
}