.rent-container {
  width: 100%;
  height: auto;
  margin-top: -5rem;
 
}

.title-rent {
  text-align: center;
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blue {
  color: #3b5998;
}

h2 {
  text-align: left  ;
  font-size: 25px;
}

p {
  margin-top: 10px;
  font-size: 19px;
}

.RentaNecesitoTitulo{
  font-size: 2rem;
  padding-bottom: 5rem;
  /* font-weight:  bold; */
}

.img-one {
  width: 591px;
  height: 160px;
  background: url(../../img/rectangle-one.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-two {
  width: 591px;
  height: 160px;
  background: url(../../img/rectangle-two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-three {
  width: 591px;
  height: 160px;
  background: url(../../img/rectangle-three.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  height: 160px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 30px 20px 30px;
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view {
  display: none;
}

@media (max-width: 502px) {
  #view {
    display: block;
  }
  #hide {
    display: none;
  }
}

form {
  height: 90px;
  width: 40px;
}

.center-img {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
