.HomePage {
  margin-bottom: 1rem;
margin-top:80px;

}

.BuscoRento {
  font-size: 55px;
  font-weight: 400;
  color: #3b5998;
  text-align: left;
  margin-left: -52px;
   
  /* margin-top:1%; */
  /* padding-top: 11rem; */

}

.btnRenta {
  background-color: #3b5998;
  color: white;
  border: none;
  width: 348px;
  height: 64px;
  font-size: 24px;
  padding: 1rem;
  border-radius: 18px;
}

.rentoStuffPics {
  border-radius: 50%;
}

.logo-home {
  width: 345px;
  height: 120px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top:80px;

  /* margin-top: 250px; */
}

.img-banner {
  width: 100%;
  height: auto;
}

.slideShowContainer{
  overflow: hidden;
}

.sliderText{
  padding-left: 11px;
}